@charset "UTF-8";

@font-face {
  font-family: "fln";
  src:url("../fonts/fln.eot");
  src:url("../fonts/fln.eot@") format("embedded-opentype"),
    url("../fonts/fln.woff") format("woff"),
    url("../fonts/fln.ttf") format("truetype"),
    url("../fonts/fln.svg") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fln" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fln-"]:before,
[class*=" fln-"]:before {
  font-family: "fln" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fln-pdf-light:before {
  content: "\62";
}
.fln-doc:before {
  content: "\64";
}
.fln-doc-light:before {
  content: "\61";
}
.fln-ppt-light:before {
  content: "\65";
}
.fln-ppt:before {
  content: "\66";
}
.fln-xls-light:before {
  content: "\67";
}
.fln-xls:before {
  content: "\68";
}
.fln-abajo:before {
  content: "\69";
}
.fln-abajo-light:before {
  content: "\6a";
}
.fln-arriba:before {
  content: "\6b";
}
.fln-arriba-light:before {
  content: "\6c";
}
.fln-derecha:before {
  content: "\6d";
}
.fln-derecha-light:before {
  content: "\6e";
}
.fln-flecha-abajo:before {
  content: "\6f";
}
.fln-flecha-abajo-light:before {
  content: "\70";
}
.fln-flecha-arriba:before {
  content: "\71";
}
.fln-flecha-arriba-light:before {
  content: "\72";
}
.fln-flecha-derecha:before {
  content: "\73";
}
.fln-flecha-derecha-light:before {
  content: "\74";
}
.fln-flecha-izquierda:before {
  content: "\75";
}
.fln-flecha-izquierda-light:before {
  content: "\76";
}
.fln-izquierda:before {
  content: "\77";
}
.fln-izquierda-light:before {
  content: "\78";
}
.fln-izquierda-doble-light:before {
  content: "\79";
}
.fln-izquierda-doble:before {
  content: "\7a";
}
.fln-derecha-doble:before {
  content: "\41";
}
.fln-derecha-doble-light:before {
  content: "\42";
}
.fln-arriba-doble:before {
  content: "\43";
}
.fln-arriba-doble-light:before {
  content: "\44";
}
.fln-abajo-doble-light:before {
  content: "\45";
}
.fln-abajo-doble:before {
  content: "\46";
}
.fln-flecha-filtro:before {
  content: "\47";
}
.fln-flecha-filtro-asc:before {
  content: "\48";
}
.fln-flecha-filtro-desc:before {
  content: "\49";
}
.fln-cerrar:before {
  content: "\4a";
}
.fln-cerrar-light:before {
  content: "\4b";
}
.fln-menu:before {
  content: "\4c";
}
.fln-menu-light:before {
  content: "\4d";
}
.fln-mas:before {
  content: "\4e";
}
.fln-mas-light:before {
  content: "\4f";
}
.fln-menos:before {
  content: "\50";
}
.fln-menos-light:before {
  content: "\51";
}
.fln-alerta-advertencia-full:before {
  content: "\53";
}
.fln-alerta-advertencia-full-light:before {
  content: "\54";
}
.fln-alerta-advertencia-light:before {
  content: "\55";
}
.fln-alerta-error:before {
  content: "\56";
}
.fln-alerta-error-full:before {
  content: "\57";
}
.fln-alerta-error-full-light:before {
  content: "\58";
}
.fln-alerta-error-light:before {
  content: "\59";
}
.fln-alerta-advertencia:before {
  content: "\52";
}
.fln-alerta-info:before {
  content: "\5a";
}
.fln-alerta-info-light:before {
  content: "\30";
}
.fln-alerta-info-full-light:before {
  content: "\31";
}
.fln-alerta-info-full:before {
  content: "\32";
}
.fln-check-light:before {
  content: "\33";
}
.fln-check:before {
  content: "\34";
}
.fln-alerta-exito:before {
  content: "\35";
}
.fln-alerta-exito-full:before {
  content: "\36";
}
.fln-alerta-exito-full-light:before {
  content: "\37";
}
.fln-alerta-exito-light:before {
  content: "\38";
}
.fln-disabled:before {
  content: "\39";
}
.fln-disabled-light:before {
  content: "\21";
}
.fln-favorito:before {
  content: "\22";
}
.fln-favorito-full:before {
  content: "\23";
}
.fln-favorito-light:before {
  content: "\24";
}
.fln-like-full:before {
  content: "\25";
}
.fln-like:before {
  content: "\26";
}
.fln-eliminar-light:before {
  content: "\27";
}
.fln-eliminar-full:before {
  content: "\28";
}
.fln-eliminar:before {
  content: "\29";
}
.fln-entrar:before {
  content: "\2a";
}
.fln-entrar-light:before {
  content: "\2b";
}
.fln-salir:before {
  content: "\2c";
}
.fln-salir-light:before {
  content: "\2d";
}
.fln-buscar:before {
  content: "\2e";
}
.fln-buscar-light:before {
  content: "\2f";
}
.fln-ayuda:before {
  content: "\3a";
}
.fln-ayuda-full:before {
  content: "\3b";
}
.fln-ayuda-full-light:before {
  content: "\3c";
}
.fln-ayuda-light:before {
  content: "\3d";
}
.fln-descargar:before {
  content: "\3e";
}
.fln-descargar-light:before {
  content: "\3f";
}
.fln-home-light:before {
  content: "\40";
}
.fln-home-full:before {
  content: "\5b";
}
.fln-home:before {
  content: "\5d";
}
.fln-subir:before {
  content: "\5e";
}
.fln-subir-light:before {
  content: "\5f";
}
.fln-estrella:before {
  content: "\60";
}
.fln-estrella-full:before {
  content: "\7b";
}
.fln-estrella-light:before {
  content: "\7c";
}
.fln-imprimir:before {
  content: "\7d";
}
.fln-imprimir-full:before {
  content: "\7e";
}
.fln-imprimir-light:before {
  content: "\5c";
}
.fln-editar-full:before {
  content: "\e000";
}
.fln-editar-light:before {
  content: "\e001";
}
.fln-editar:before {
  content: "\e002";
}
.fln-mail:before {
  content: "\e003";
}
.fln-mail-full:before {
  content: "\e004";
}
.fln-mail-light:before {
  content: "\e005";
}
.fln-telefono:before {
  content: "\e006";
}
.fln-telefono-full:before {
  content: "\e007";
}
.fln-telefono-light:before {
  content: "\e008";
}
.fln-usuario:before {
  content: "\e009";
}
.fln-usuario-full:before {
  content: "\e00a";
}
.fln-usuario-light:before {
  content: "\e00b";
}
.fln-vista:before {
  content: "\e00c";
}
.fln-vista-full:before {
  content: "\e00d";
}
.fln-vista-light:before {
  content: "\e00e";
}
.fln-comentarios:before {
  content: "\e00f";
}
.fln-comentarios-full:before {
  content: "\e010";
}
.fln-comentarios-light:before {
  content: "\e011";
}
.fln-calendario-light:before {
  content: "\e012";
}
.fln-calendario-full:before {
  content: "\e013";
}
.fln-calendario:before {
  content: "\e014";
}
.fln-candado:before {
  content: "\e015";
}
.fln-candado-full:before {
  content: "\e016";
}
.fln-candado-light:before {
  content: "\e017";
}
.fln-imagen:before {
  content: "\63";
}
.fln-imagen-full:before {
  content: "\e018";
}
.fln-pdf:before {
  content: "\e019";
}
.fln-zip-full:before {
  content: "\e01a";
}
.fln-zip:before {
  content: "\e01b";
}
.fln-zip-light:before {
  content: "\e01c";
}
.fln-imagen-light:before {
  content: "\e01d";
}
.fln-facebook:before {
  content: "\e01e";
}
.fln-google-plus:before {
  content: "\e01f";
}
.fln-instagram:before {
  content: "\e020";
}
.fln-linkedin:before {
  content: "\e021";
}
.fln-tumblr:before {
  content: "\e022";
}
.fln-twitter:before {
  content: "\e023";
}
.fln-vimeo:before {
  content: "\e024";
}
.fln-youtube-play:before {
  content: "\e025";
}
.fln-youtube:before {
  content: "\e026";
}
.fln-whatsapp:before {
  content: "\e027";
}
.fln-500px:before {
  content: "\e028";
}
.fln-dribbble:before {
  content: "\e029";
}
.fln-compartir-light:before {
  content: "\e02a";
}
.fln-compartir:before {
  content: "\e02b";
}
.fln-compartir-full:before {
  content: "\e02c";
}
.fln-marker:before {
  content: "\e02d";
}
.fln-marker-light:before {
  content: "\e02e";
}
.fln-marker-full:before {
  content: "\e02f";
}
.fln-carro:before {
  content: "\e030";
}
.fln-carro-full:before {
  content: "\e031";
}
.fln-carro-light:before {
  content: "\e032";
}
.fln-lista-full:before {
  content: "\e028";
}
.fln-lista-full-light:before {
  content: "\e033";
}
.fln-lista-light:before {
  content: "\e034";
}
.fln-lista:before {
  content: "\e035";
}
.fln-eliminar:before {
  content: "\27";
}
.fln-eliminar-full:before {
  content: "\28";
}
.fln-eliminar-light:before {
  content: "\29";
}
.fln-link-light:before {
  content: "\e036";
}
.fln-link:before {
  content: "\e037";
}
